h1 {
  color: blue;
  text-align: center;
}

p {
  color: red;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
th {
  background-color: lightgray;
}

input[type=text] {
  background-color: red;
}
input[type=password] {
  background-color: yellow;
}

button {
  width: 200px;
  height: 50px;
  font-size: 24px;
  background-color: green;
}
button:hover {
  background-color: orange;
}

a::before {
  content: "\01F600";
}

p::selection {
  color: blue;
  background-color: yellow;
}

#top {
  font-size: 36px;
}

#middle {
  font-size: 24px;
}

.name {
  font-weight: bold;
}

@media print {
  .screen-only {
    display: none;
  }
  }

@media (min-width:1200px) {
  body {
    background-color: red;
  }
  h1::before {
    content: "Velkommnen!";
  }
}

@media (max-width:1199px) {
  body {
    background-color: blue;
  }
}


/* <style> */
 /* div {
   background-color: teal;
   width: 500px;
   height: 400px;
   margin: 30px;
   padding: 20px;
   font-family: Arial, sans-serif;
   font-size: 28px;
   font-weight: bold;
   border: 3px solid blue;
 }
</style> */
